.root {
	display: flex; 
	flex-direction: column; 
	align-items: stretch;

	width: 50px;
	gap: 10px;
	background-color: var(--bg-disabled);
	padding: 10px;

	box-shadow: rgba(0, 0, 0, 0.25) 2px 0px 1px 0px;
    z-index: 5;
}