.root {
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.box {
	display: flex; 
	align-items: center; 
	justify-content: center;

	cursor: pointer;
	position: relative;

	background-color: rgba(0,0,0,0.3);
	
	border-radius: 10px;
	/* border: 2px solid black; */
	width: 30px;
	height: 30px;

	font-size: 14px;
	font-weight: 700;
}

.label {
	width: 100%;
	font-size: 10px;
	font-weight: 500;
	opacity: 0.5;

	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tooltip_title {
	font-weight: 800;
}

.tooltip_sub {
	font-weight: 600;
}

.badge {
	display: flex; 
	align-items: center; 
	justify-content: center;
	position: absolute; 
	left: -8px; 
	top: -8px;
	border-radius: 50%;
	width: 18px; 
	height: 18px;
	font-size: 10px;
	box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 0px;
}

.cancel {
	cursor: pointer;
	background-color: rgb(49, 49, 49);
}