.root {
	position: relative;
	height: 100%;
	display: flex;
	color: var(--text);
}
.root.redeye {
	background-image: url(./../assets/bg4.jpg);
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: darken;
}
.root.boring {
	--color-primary-bg: #96a6eb;
	background-color: #02131c;
}

.content {
	flex: 1;
	display: flex;
	overflow-x: auto;
}

.content.right {
	flex-direction: row;
}

.content.bottom {
	flex-direction: column;
}
