.root {
	position: relative;
	height: 100%;
	display: flex;
	color: var(--text);
	background-color: var(--app-bg-color);
	background-image: var(--app-bg-image);
	background-blend-mode: var(--app-bg-blend);
}

.content {
	flex: 1;
	display: flex;
	overflow-x: auto;
}

.content.right {
	flex-direction: row;
}

.content.bottom {
	flex-direction: column;
}
