.root {
	position: relative;
	height: 100%;
	display: flex;
	color: var(--text);
}

.content {
	flex: 1;
	display: flex;
	overflow-x: auto;
}

.content.right {
	flex-direction: row;
}

.content.bottom {
	flex-direction: column;
}
