
.root {
	display: flex;

	background-color: var(--text-bg);
	/* box-shadow: rgba(0, 0, 0, 0.25) -2px 0px 1px 0px; */
	z-index: 2;
}



/** HANDLE **/

.handle {
	cursor: col-resize;
	display: flex; 
	flex-direction: column;
	gap: 8px;
	margin: 10px;
}

.btt {
	color: var(--text-bg);
	background-color: var(--var-1);
}

.handle_label {
	user-select: none;
	writing-mode: vertical-lr;
    font-size: 14px;
    border-left: 1px solid var(--var-1);
    border-right: 1px solid var(--var-1);
    height: 80px;
    text-align: center;
    color: var(--var-1);
	font-weight: 700;
}

.size {
	font-size: 10px;
    font-weight: 600;
    border: 2px solid var(--var-1);
    text-align: center;
    padding: 1px 0px;
    color: var(--var-1);
}


/** CARDS **/

.handle_container {
	display: flex;
	padding-bottom: 10px;
	overflow-x: auto;
}

.animate {
	transition: width 300ms ease-in-out;
}
