
.root {
	display: flex;

	background-color: var(--text-bg);
	z-index: 2;
}
.bottom.root {
	flex-direction: column;
}


/** HANDLE **/

.handle {
	cursor: col-resize;
	display: flex; 
	flex-direction: column;
	gap: 8px;
	margin: 10px;
}
.bottom .handle {
	cursor: row-resize;
	flex-direction: row;
}

.btt {
	color: var(--text-bg);
	background-color: var(--var-1);
}

.handle_label {
	user-select: none;
	writing-mode: vertical-lr;
    font-size: 14px;
    border-left: 1px solid var(--var-1);
    border-right: 1px solid var(--var-1);
    height: 80px;
    text-align: center;
    color: var(--var-1);
	font-weight: 700;
}
.bottom .handle_label {
	writing-mode: unset;
	border-left: unset;
    border-right: unset;
	border-top: 1px solid var(--var-1);
    border-bottom: 1px solid var(--var-1);
    height: unset;
}

.size {
	font-size: 10px;
    font-weight: 600;
    border: 2px solid var(--var-1);
    text-align: center;
    padding: 1px 0px;
    color: var(--var-1);
}
.bottom .size {
	min-width: 18px;
}

/** CARDS **/

.handle_container {
	display: flex;
	padding: 10px 0px;
	overflow-x: auto;
}
.bottom .handle_container {
	padding: unset;
}

.animate {
	transition: width 300ms ease-in-out, height 300ms ease-in-out;
}
