.root {
	position: relative;
	transition: background-color 300ms, color 300ms;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px 0px 0px 5px; 
	height: 30px;
	padding: 3px 4px 3px 0px;
	margin-left: 4px;
}

.selected {
	color: var(--text);
	background-color: var(--bg-default);
}

.extra {
	position: absolute;
	left: 80%;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 1px 0px;

	transition: opacity 300ms, transform 300ms ease-in-out;
	opacity: 0;
	transform: translate(-10px, 0px);
}

.root:hover .extra {
	opacity: 1;
	transform: translate(0px, 0px);
}
