.root {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 12px;
	font-weight: 600;
}

.divider {
	width: 100%; 
	border-bottom: 1px dashed rgba(0, 0, 0, 0.25); 
	margin-top: 5px;
}