
.root {
	position: relative;
	padding: 5px;
	margin: 5px 0px;
	
	font-weight: 200;
	font-size: 14px;
	font-family: monospace;

	background-color: black;
	border-radius: 5px;
}

.root.focus {
	border-left: 2px solid var(--var-2);
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btt {
	display: none;
	/* display: flex; */
	position: absolute;
	right: 10px;
	top: 4px;
}