:root {
	--title-font-family: 'Darker Grotesque', sans-serif;
	--text-font-family: 'Inter Variable', sans-serif;

	font-family: var(--text-font-family);
}

.jack-title {
	font-family: var(--title-font-family);
}