[data-theme="boring"] {
	--theme-card-fg: #dedede;
	--theme-card-bg: #3E3E3E;
	--theme-on-accent: #393939;
	--theme-cmp-bg: rgba(0, 0, 0, 0.05);


	--app-bg-color: #02131c;
	--accent: #96a6eb;
}

/* focus neutro */
[data-theme="boring"] .card {
	--cmp-focus: #dedede38;
}

[data-theme="boring"] .jack-framework {

	--card-fg: #dedede;
	--card-bg: #3E3E3E;

	/* button icon button */
	--cmp-select-fg: #393939;
	--cmp-select-bg: var(--accent);

	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 0, 0, 0.05);

	/* tooltip drag dialog float-button */
	--dialog-fg: #393939;
	--dialog-bg: var(--accent);

	--cmp-focus: color-mix(in srgb, var(--accent) 54%, transparent);
}



/* le card "piene" restano scure */
[data-theme="boring"] .card--filled {
	--card-fg: var(--theme-card-fg);
	--card-bg: var(--theme-card-bg);
	--cmp-select-fg: var(--theme-on-accent);
	--cmp-select-bg: var(--accent);
}