.root {
	background-color: #3E3E3E;
	color: #dedede;
	/* button icon button */
	--cmp-select-bg: #BBFB35;
	--cmp-select-fg: #393939;
	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 0, 0, 0.05);

	/* tooltip drag dialog float-button*/
	--dialog-bg: #BBFB35;
	--dialog-fg: #393939;
}
