.root {
	--card-fg:  #000000;
	--card-bg: #859dff; /* #808AFF; 859dff;*/
	
	
	/* button icon button */
	--cmp-select-fg: #808AFF;
	--cmp-select-bg: #393939;

	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 26, 255, 0.5);

	/* tooltip drag dialog float-button*/
	--dialog-fg: #393939;
	--dialog-bg: #808AFF;
	
	--cmp-focus: #393939;
}

.root :global(.jack-framework-actions) {
	--cmp-select-fg: #393939;
	--cmp-select-bg: #808AFF;
}