.root {
	--card-fg:  #000000;
	--card-bg: #a195ff; /* #85bbff; 859dff; a195ff*/
	
	
	/* button icon button */
	--cmp-select-fg: #a195ff;
	--cmp-select-bg: #393939;

	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 26, 255, 0.5);

	/* tooltip drag dialog float-button*/
	--dialog-fg: #393939;
	--dialog-bg: #a195ff;
	
	--cmp-focus: #393939;
}

.root :global(.jack-framework-actions) {
	--cmp-select-fg: #393939;
	--cmp-select-bg: #a195ff;
}