.root {
	--card-fg: #dedede;
	--card-bg: #3E3E3E;
	
	/* button icon button */
	--cmp-select-fg: #393939;
	--cmp-select-bg: #96a6eb;

	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 0, 0, 0.05);

	/* tooltip drag dialog float-button*/
	--dialog-fg: #393939;
	--dialog-bg: #DEDEDE;

	--cmp-focus: #dedede38;
}
