.root {
	--card-fg: #393939;
	--card-bg: #EBFB35;
	
	/* button icon button */
	--cmp-select-bg: #EBFB35;
	--cmp-select-fg: #393939;
	/* ombra perimetrale inputtext buttton */
	--cmp-bg: rgba(0, 0, 0, 0.05);

	/* tooltip drag dialog float-button*/
	--dialog-bg: #EBFB35;
	--dialog-fg: #393939;
}
