.root {
	display: flex; 
	flex-direction: column;
	transition: height 300ms;
	overflow-y: hidden;
}

.scroll {
	overflow-y: "auto"
}

/* ACCORDION with title */

.root_title {
	display: flex;
	flex-direction: column;
}

.title {
	align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.title_text {
	flex: 1;
	margin-left: 14px;
}

.title_icon {
	display: flex;
	opacity: .5;
}

.title_accordion {
	gap: 5px;
}