
.root {
	display: flex;
	height: 41px;
	align-items: flex-start;
}

.root.compact{
	flex-direction: column;
}

.title {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 0px;
}

.title.compact {
	writing-mode: vertical-lr;
	flex-direction: column-reverse;
	align-self: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 5px;
	margin-right: 5px;
}