.root {
	flex: 1;
	align-items: center;
	position: relative;
	display: flex;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 3px;
	min-height: 14px;
	gap: 5px;
	overflow-wrap: anywhere;
	background-color: rgba(0, 0, 0, 0.063);
}

.selected {
	background-color: rgba(0, 0, 0, 0.125);
}

.readonly {
	background-color: transparent;
}