
.color-text {
	color: var(--text-bg);
}

/* --- */

.var0 .color-fg {
	color: var(--var-0);
}

.var0.color-bg, .var0 .color-bg {
	background-color: var(--var-0);
}

.var0 .color-bg-l1 {
	background-color: var(--var-0);
}


.var0 .color-text {
	color: rgba(255, 255, 255, .85);
}

.var0 .color-br {
	border-color: var(--var-0);
}

/* --- */

.var1 .color-fg {
	color: var(--var-1);
}

.var1.color-bg, .var1 .color-bg {
	background-color: var(--var-1);
}


.var1 .color-br {
	border-color: var(--var-1);
}

/* --- */

.var2 .color-fg {
	color: var(--var-2);
}

.var2.color-bg, .var2 .color-bg {
	background-color: var(--var-2);
}


.var2 .color-br {
	border-color: var(--var-2);
}

/* --- */

.var3 .color-fg {
	color: var(--var-3);
}

.var3.color-bg, .var3 .color-bg {
	background-color: var(--var-3);
}

.var3 .color-bg-l1 {
	background-color: var(--var-3-l1);
}


.var3 .color-br {
	border-color: var(--var-3);
}

/* --- */

.var4 .color-fg {
	color: var(--var-4);
}

.var4.color-bg, .var4 .color-bg {
	background-color: var(--var-4);
}

.var4 .color-bg-l1 {
	background-color: var(--var-4-l1);
}


.var4 .color-br {
	border-color: var(--var-4);
}

/* --- */

.var5 .color-fg {
	color: var(--var-5);
}

.var5.color-bg, .var5 .color-bg {
	background-color: var(--var-5);
}

.var5 .color-bg-l1 {
	background-color: var(--var-5-l1);
}

.var5 .color-br {
	border-color: var(--var-5);
}

/* --- */

.var6 .color-fg {
	color: var(--var-6);
}

.var6.color-bg, .var6 .color-bg {
	background-color: var(--var-6);
}

.var6 .color-br {
	border-color: var(--var-6);
}

/* --- */



/** 
su FORM su dialog con fondo colorato
per i bottoni e input-text
*/
.var-dialog .color-fg {
	color: var(--var-0);
}

.var-dialog.color-bg, .var-dialog .color-bg {
	background-color: var(--var-0);
}