@keyframes ani-rotation-loop {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ani-rot-loop {
	transform-origin: center;
	animation: ani-rotation-loop 1s linear infinite;
}

.ani-color {
	transition: color 300ms;
}