@keyframes ruotaContinuamente {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.circle-rotante {
	transform-origin: center;
	animation: ruotaContinuamente 2s linear infinite;
}