.btt-float {
	cursor: pointer;
	transition: background-color 300ms, color 300ms;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 5px;

	width: 25px;
	height: 25px;
	border-radius: 50%;

	box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px 0px;
}

/**
genericamente per bottoni disabilitati
*/
.btt-disabled {
	cursor: default;
	background-color: var(--bg-disabled);
	color: var(--text);
}

