:root {

	--var-0: rgba(0, 0, 0, .4);

	/* CONNECTIONS */
	--var-1: #BBFB35;

	/* MESSAGES */
	--var-2: #10F3F3;

	/* BUCKETS KVENTRY */
	--var-3: #6affab;
	--var-3-l1: #b0ffd2;

	/* STREAMS */
	--var-4: #EBFB35;
	--var-4-l1: #f9ffb3;

	/* CONSUMER */
	--var-5: #f374e6;
	--var-5-l1: #F51DDF;

	/* GENERIC */
	--var-6: white;


	--text-bg: #393939;
	--text: #dedede;


	--bg-default: #3E3E3E;
	--bg-disabled: #494949;


	--bg-1: #3E3E3E;
	--bg-2: #2e2e2e;

	--z-resizer: 100;
	--z-zen: 101;
}


.bars-alert-bg {
	background: repeating-linear-gradient(135deg, transparent, transparent 7px, #000 7px, #000 15px)
}
.bars-alert-bg-c {
	background: repeating-linear-gradient(135deg, transparent, transparent 7px, currentColor 7px, currentColor 15px)
}

.bars-alert-bg-1 {
	background: repeating-linear-gradient(135deg, transparent, transparent 10px, var(--var-1) 10px, var(--var-1) 20px)
}
