:root {
	--var-0: #DEDEDE;
	--var-1: #BBFB35;
	--var-2: #10F3F3;
	--var-3: #C220FA;
	--var-4: #EBFB35;
	--var-5: #F51DDF;

	--text-bg: ;
}


.color-text {
	color: var(--text-bg);
}


.var0 .color-fg {
	color: var(--var-0);
}
.var0 .color-bg {
	background-color: var(--var-0);
}

.var1 .color-fg {
	color: var(--var-1);
}
.var1 .color-bg {
	background: var(--var-1);
}

.var2 .color-fg {
	color: var(--var-2);
}
.var2 .color-bg {
	background: var(--var-2);
}

.var3 .color-fg {
	color: var(--var-3);
}
.var3 .color-bg {
	background: var(--var-3);
}

.var4 .color-fg {
	color: var(--var-4);
}
.var4 .color-bg {
	background: var(--var-4);
}

.var5 .color-fg {
	color: var(--var-5);
}
.var5 .color-bg {
	background: var(--var-5);
}
