:root {
	--var-0: rgba(0,0,0,.4);
	--var-1: #BBFB35;
	--var-2: #10F3F3;
	--var-3: #C220FA;
	--var-4: #EBFB35;
	--var-4-l1: #f9ffb3;
	--var-5: #F51DDF;
	--var-5-l1: #f374e6;



	--text-bg: #393939;
	--text: #dedede;

	--bg-disabled: #494949;
	--bg-1: #3E3E3E;
	--bg-2: #2e2e2e;
}


.color-text {
	color: var(--text-bg);
}




.var0 .color-fg {
	color: var(--var-0);
}
.var0 .color-bg {
	background-color: var(--var-0);
}
.var0 .color-bg-l1 {
	background-color: var(--var-0);
}
.var0 .color-text {
	color: rgba(255,255,255,.85);
}

.var1 .color-fg {
	color: var(--var-1);
}
.var1 .color-bg {
	background: var(--var-1);
}

.var2 .color-fg {
	color: var(--var-2);
}
.var2 .color-bg {
	background: var(--var-2);
}

.var3 .color-fg {
	color: var(--var-3);
}
.var3 .color-bg {
	background: var(--var-3);
}

.var4 .color-fg {
	color: var(--var-4);
}
.var4 .color-bg {
	background: var(--var-4);
}
.var4 .color-bg-l1 {
	background: var(--var-4-l1);
}

.var5 .color-fg {
	color: var(--var-5);
}
.var5 .color-bg {
	background: var(--var-5);
}
.var5 .color-bg-l1 {
	background: var(--var-5-l1);
}




/** 
su FORM su dialog con fondo colorato
per i bottoni e input-text
*/
.var-dialog .color-fg {
	color: var(--var-0);
}
.var-dialog .color-bg {
	background-color: var(--var-0);
}