html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --card-inv-fg: #dedede;
  --color-primary-fg: #393939;
  --color-primary-bg: #BBFB35;
  --color-element-bg: #393939;
}

.jack-cmp.jack-inv:not(.jack-cmp-select) {
  color: var(--card-inv-fg)
}