
input {
  border: none;
  min-width: 0;
  color: currentColor;
  background-color: rgb(0 0 0 / 6%);

  font-family: 'Inter Variable', sans-serif;
  font-size: 12px;
  font-weight: 600;

  padding: 4px 3px 3px 3px;
	border-radius: 3px;
}

input:focus {
  outline: none;
}

input:disabled {
  opacity: 0.6;
}

input::selection {
  background: var(--text-bg);
  color: #DEDEDE;
}

input::placeholder {
  opacity: .6;
}



.var0 input::selection {
  background: var(--text-bg);
  color: var(--var-0);
}

.var1 input::selection {
  background: var(--var-1);
  color: var(--text-bg);
}

.var2 input::selection {
  background: var(--var-2);
  color: var(--text-bg);
}

.var3 input::selection {
  background: var(--var-3);
  color: var(--text-bg);
}

.var4 input::selection {
  background: var(--var-4);
  color: var(--text-bg);
}

.var5 input::selection {
  background: var(--var-5);
  color: var(--text-bg);
}

.var-dialog input::selection {
  background: var(--text-bg);
  color: var(--text);
}