
.lbl-divider-v {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.lbl-divider-h {
	margin: 3px 0px 3px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.lbl-info-container {
	position: relative;
}

.lbl-info {
	display: none;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0px;
	top: calc(50% - 8px);
	
	width: 14px;
	height: 14px;

	cursor: pointer;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-weight: 900;
	border: 1px solid rgba(0, 0, 0, 0.4);	
}

.lbl-info-container:hover .lbl-info {
	display: flex;
}

.jack-title {
	font-size: 16px;
    font-weight: 800;
    font-family: 'Darker Grotesque';
}