
/* CARD HEADER */
.lbl-header-title {
	font-size: 16px;
	font-weight: 800;
	font-family: "Darker Grotesque";
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lbl-header-subtitle {
	font-size: 12px;
	font-weight: 700;
	opacity: .7;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



/** PER ESEMPIO I BOTTONI DELLE CONNECTIONS */
.lbl-rowelement-title {
	font-size: 14px;
	font-weight: 700;
}
.lbl-rowelement-subtitle {
	font-size: 12px;
	font-weight: 500;
}



/* DIALOG */
.lbl-dialog-title {
	font-size: 16px;
	font-weight: 800;
	font-family: "Darker Grotesque";
}
.lbl-dialog-text {
	font-size: 13px;
	font-weight: 500;
	margin: 5px 0px 8px 0px;
	overflow-wrap: break-word;
}



/* FORM */
/* titolo colonna di proprietà */
.lbl-prop-title {
	font-size: 13px;
	font-weight: 800;
	border-bottom: 1px solid rgb(0 0 0 / 32%);
	border-top: 1px solid rgb(0 0 0 / 32%);
	padding: 3px;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}
/* label proprietà */
.lbl-prop {
	font-size: 12px;
	font-weight: 700;
}
/* valore in sola lettura */
.lbl-readonly {
	font-size: 12px;
    font-weight: 500;
    padding: 0px 0px 4px 0px;
	overflow-wrap: break-word;
}

.lbl-center {
	text-align: center;
}

/* lista vuota */
.lbl-empty {
	border: 1px dashed currentColor;
	padding: 3px;
	margin: 5px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

/* elemento disabilitato */
.lbl-disabled {
	opacity: .6;
}

.lbl-divider-v {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.lbl-divider-v2 {
	height: 20px;
	width: 2px; 
	background-color: rgba(255,255,255,.3);
}


.lbl-info-container {
	position: relative;
}

.lbl-info {
	display: none;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0px;
	top: calc(50% - 8px);
	
	width: 14px;
	height: 14px;

	cursor: pointer;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-weight: 900;
	border: 1px solid rgba(0, 0, 0, 0.4);	
}

.lbl-info-container:hover .lbl-info {
	display: flex;
}