
/* CARD HEADER */
.lbl-header-title {
	font-size: 16px;
	font-weight: 800;
	font-family: "Darker Grotesque";
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lbl-header-subtitle {
	font-size: 12px;
	font-weight: 700;
	opacity: .7;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



/** PER ESEMPIO I BOTTONI DELLE CONNECTIONS */
.lbl-rowelement-title {
	font-size: 14px;
	font-weight: 700;
}
.lbl-rowelement-subtitle {
	font-size: 12px;
	font-weight: 500;
}



/* DIALOG */
.lbl-dialog-title {
	font-size: 16px;
	font-weight: 800;
	font-family: "Darker Grotesque";
}
.lbl-dialog-text {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 20px;
	overflow-wrap: break-word;
}



/* FORM */
/* titolo colonna di proprietà */
.lbl-prop-title {
	font-size: 13px;
	font-weight: 800;
	border-bottom: 1px solid rgb(0 0 0 / 32%);
	border-top: 1px solid rgb(0 0 0 / 32%);
	padding: 3px;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}
/* label proprietà */
.lbl-prop {
	font-size: 12px;
	font-weight: 700;
}
/* valore in sola lettura */
.lbl-input-readonly {
	font-size: 12px;
    font-weight: 500;
    padding: 4px 0px;
	overflow-wrap: break-word;
}

/* lista vuota */
.lbl-empty {
	border: 1px dashed currentColor;
	padding: 3px;
	margin: 5px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

/* elemento disabilitato */
.lbl-disabled {
	opacity: .6;
}
