
.row {
	font-size: 10px;
	font-weight: 600;
	height: 28px;
	position: sticky;
	top: 0px;
	background-color: #5b5b5b;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px 0px;
}


.cell {
	border-right: 2px solid #3e3e3e;
	border-top: 2px solid #3e3e3e;
	padding: 3px 5px;
}


.cellContainer {
	display: flex;
	align-items: center; 
	justify-content: flex-end;
}
.main .cellContainer {
	flex-direction: row-reverse;
}
