
.root {
	width: 100%;
	border-spacing: 0px;

	font-size: 12px;
	font-family: monospace;
	font-weight: 600;
}


.row {
	position: relative;
	cursor: pointer;
}

.row.selected {
}


.cell {
	border-right: 2px solid rgba(255, 255, 255, .2);
	padding: 3px 5px;
	text-align: right;
}
.cell.main {
	text-align: left;
	padding: 5px 2px;
	overflow-wrap: anywhere;
}


.root tr:nth-of-type(even):not(.selected) {
	background-color: rgba(0, 0, 0, 0.5);
}
.root tr:nth-of-type(even).selected {
	opacity: .9
}