.root {
	display: flex;
	cursor: pointer;
	position: relative;
	color: rgba(0,0,0,.4);
	align-items: center;
}

.circle {
	width: 24px;
	height: 24px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divider {
	border-bottom: 1px dashed black;
	flex: 1;
}

.btt {
	width: 0px;
	transition: width 400ms;
}

.root:hover .btt_hover {
	width: 20px;
}
