.container {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 10px;
	font-weight: 400;
	opacity: 0.8;
}

.value {
	font-size: 18px;
	font-weight: 700;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	overflow: hidden;
}

.unit {
	font-size: 10px;
	font-weight: 300;
	opacity: 0.9;
}
