.root {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 3px -10px 0px -5px;
	border-radius: 5px 0px 0px 5px;
	padding: 4px 0px 4px 8px;
}

.label {
	display: flex;
	flex-direction: column;
	margin-left: 7px;
}

.label .title {
	font-size: 14px;
	font-weight: 700;
}

.label .subtitle {
	display: flex;
	font-size: 12px;
	font-weight: 400;
	opacity: 0.9;
}