.root {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 3px -10px 0px -5px;
	border-radius: 5px 0px 0px 5px;
	padding: 4px 0px 4px 8px;
}

.root:focus {
	outline: none;
}
:global(.jack-framework-focus-ctrl) .root:focus {
	outline: 2px solid var(--cmp-focus);
}

.root.select {
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
}

.label {
	display: flex;
	flex-direction: column;
	margin-left: 7px;
}

.label .title {
	font-size: 14px;
	font-weight: 700;
}

.label .subtitle {
	display: flex;
	font-size: 12px;
	font-weight: 400;
	opacity: 0.9;
}