.root {
	transition: background-color 200ms, color 200ms;
	display: flex;
	align-items: center;
	padding: 5px 8px;
	cursor: pointer;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -10px;
	margin-left: -7px;
}

.root:focus {
	outline: none;
}

.root:not(.select):hover {
    background-color: rgba(0, 0, 0, 0.05); /* Adjust opacity for desired darkness */
}


:global(.jack-framework-focus-ctrl) .root:focus {
	outline: 2px solid var(--cmp-focus);
}

.root.select {
	color: var(--cmp-select-fg);
	background-color: var(--cmp-select-bg);
}

.label {
	font-size: 14px;
	font-weight: 800;
	font-family: "Darker Grotesque";
	flex: 1;
	margin-left: 5px;
}