.root {
	flex: 1;
	background-color: var(--bg-default);
	display: flex;
	align-items: center;
	padding: 1px 2px;
	min-height: 18px;
	border-radius: 5px;
	border: 2px solid transparent;
}

.input {
	flex: 1;
	padding: 0px;
	border: none;
	width: 100%;
}
