.root {
	background-color: bgcolor;
	display: flex;
	flex-direction: column;
	padding: 5px 7px;
}
.bg1 {
	background-color: var(--bg-1);
}
.bg2 {
	background-color: var(--bg-2);
}

.title {
	position: relative;
	display: flex;
	align-items: start;
	font-size: 12px;
	font-weight: 400;
}
.seq_num {
	font-size: 11px;
	font-weight: 300;
}
.subject {
	font-weight: 600;
	flex: 1;
	overflow-wrap: anywhere;
}

.footer {
	font-family: monospace;
	font-size: 11px;
	opacity: .7;
	align-self: flex-end;
}

.box_actions {
	position: absolute;
	top: -3px; 
	right: 0px; 
	display: none;
}


.sbj_root {
	color: var(--text-bg);
	display: flex;
	flex-direction: column;
}
.sbj_title {
	font-size: 12px;
    font-weight: 700;
    text-align: center;

}
.sbj_list {
	font-size: 12px;
	font-weight: 500;
}