.root {
	position: relative;
	height: 100%;
	display: flex;

	color: var(--text);

	background-image: url(./assets/bg4.jpg);
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: darken;
}

.content {
	flex: 1;
	display: flex;
	overflow-x: auto;
}

.visible {
	flex: 1;
	display: flex;
	overflow-x: auto;
	padding: 10px 0px 10px 0px;
}




.fix {
	display: flex;
	background-color: var(--text-bg);
	padding: 10px 20px 10px 10px;
}

.fix_label {
	writing-mode: vertical-lr;
    font-size: 14px;
    border-left: 1px solid var(--var-1);
    border-right: 1px solid var(--var-1);
    height: 80px;
    text-align: center;
    color: var(--var-1);
	font-weight: 700;
}