@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #282828;
  /* background: ${palette.components.scrollbarBg};  */
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #424242;
  /* background: ${palette.grey.dark};  */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BBFB35;
  /* background: ${palette.secondary.main};  */
}

scrollacid2 > ::-webkit-scrollbar-thumb:hover  {
  background: #10F3F3;
  /* background: ${palette.secondary.main};  */
}
