.root {
	display: flex;
	flex-direction: column;
	padding: 5px 7px;
}

.bg1 {
	background-color: #3E3E3E;
}

.bg2 {
	background-color: #2e2e2e;
}

.error {
	border-left: 2px solid #f374e6;
}

.warn {
	border-left: 2px solid #BBFB35;
}

.info {}



.title {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.body {
	font-size: 12px;
	font-weight: 400;
	overflow-wrap: break-word;
}

.footer {
	margin-top: 5px;
	font-size: 10px;
	opacity: .7;
	align-self: flex-end;
}