.root {
	display: flex;
	flex-direction: column;
	flex: 1;

	padding: 3px 15px 15px 25px;

	border-radius: 0px 10px 10px 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 10px 2px 1px;
	max-height: calc(100% - 18px);
}

.full_height {
	height: calc(100% - 18px);
}

.title {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.body {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}