.container {
	display: flex;
	height: 100%;
}
.container.appear {
	/* width: 200px; */
}

/* IN ROOT */
.doc {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;

	color: white;
	background-color: #3E3E3E;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.40);
}
/* IN LINK */
.doc_sub {
	border-radius: 0px 10px 10px 0px;
}



.doc_dragging {
	color: white;
	background-color: black;
	box-shadow: none;
	border: 2px dashed white;
	opacity: 0.3;
}

