
input {
  font-family: 'Raleway', sans-serif;
  border: none;
  min-width: 0;
  background-color: transparent;
  color: currentColor;
  
  font-weight: 600;
}

input:focus {
  outline: none;
}

input:disabled {
  opacity: 0.6;
}

input::selection {
  background: #DEDEDE;
  color: var(--text-bg);
}

.var0 input::selection {
  background: var(--text-bg);
  color: var(--var-0);
}

.var1 input::selection {
  background: var(--var-1);
  color: var(--text-bg);
}

.var2 input.var2::selection {
  background: var(--var-2);
  color: var(--text-bg);
}

.var3 input.var3::selection {
  background: var(--var-3);
  color: var(--text-bg);
}

.var4 input.var4::selection {
  background: var(--var-4);
  color: var(--text-bg);
}

.var5 input.var5::selection {
  background: var(--var-5);
  color: var(--text-bg);
}
