.form {
	height: 100%;
	position: relative;
}

.boxActions {
	position: absolute;
	top: 0px; 
	right: 0px; 
	display: flex;
}

.timestamp {
	font-family: monospace;
	align-self: flex-end;
	font-size: 12px;
	font-weight: 400;
}

.header {
	display: flex;
	font-size: 12px;
	gap: 5px;
}
.header .key {
	font-weight: 600;
}
.header .values {
	font-weight: 300;
}