name: desktop build

on:
  push:
    tags:
      - '*'

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'nui-desktop'
            platform:  'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'nui-desktop'
            platform:  'windows/amd64'
            os: 'windows-latest'
          - name: 'nui-desktop'
            platform:  'darwin/universal'
            os: 'macos-latest'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build wails
        uses: dAppServer/wails-build-action@v2.2
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          app-working-directory: 'nui-desktop'
          package: true
          go-version: '1.21'
          nsis: false
          
