.logo {
	align-self: center;
	width: 70px;
	height: 70px;
	margin-top: 30px;
	margin-bottom: 30px;

	background-image: url(../../../assets/Logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}


.linkContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: center;
}

.link {
	cursor: pointer;
	display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}


.divider {
	border-top: 1px dashed #ffffff59;
    margin: 10px 0px 10px;
}

.btt {
	align-self: center;
}